body {
  background: linear-gradient(
    109.5deg,
    rgb(13, 11, 136) 9.4%,
    rgb(86, 255, 248) 78.4%
  );
  font-family: Georgia, "Times New Roman", Times, serif;
}
.weather-app {
  background-color: white;
  max-width: 600px;

  margin: 30px auto;
  padding: 30px;
  box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
  border-radius: 20px;
  background-image: url("https://media.istockphoto.com/id/1847548352/photo/pink-blue-clouds-at-sunset-cloudy-air-flying-in-the-sky-landscape-sky-at-dawn-3d-render.jpg?s=1024x1024&w=is&k=20&c=5fBiH2S7Q7CRlhX1Apf9smzobYS6X3FN0lVYQzodMLg=");
}
.weather-app-temperature-container {
  display: flex;
}
.weather-app-icon {
  width: 115px;
  height: 115px;
  margin-top: 22px;
}
.weather-app-temperature {
  font-size: 88px;
  margin-left: 10px;
  font-weight: bold;
}

.weather-app-unit {
  margin-top: 16px;
  font-size: 28px;
}

.search-form-input {
  background-color: #f9f7fe;
  border: none;
  border-radius: 10px;
  width: 80%;
  padding: 15px 30px;
}
.search-form-button {
  background-color: blueviolet;
  padding: 15px 30px;
  border: none;
  border-radius: 10px;
  color: white;
}
header {
  border-bottom: 2px solid #f9f7fe;
  padding: 0 0 30px 0;
}
footer {
  border-bottom: 2px solid #f9f7fe;
  padding: 30px 0 0 0;
  text-align: center;
  font-size: 15px;
  color: rgba(0, 0, 0, 0.8);
  font-weight: 500;
}
a {
  color: #885df1;
}
.weather-app-data {
  display: flex;
  justify-content: space-between;
}
main {
  padding: 30px 0;
}
.weather-app-city {
  margin: 0;
  font-size: 30px;
  line-height: 48px;
}
.weather-app-details {
  font-size: 16px;
  line-height: 20px;
  color: rgba(39, 33, 66, 0.4);
}
.weather-app-details.strong {
  color: black;
}
.weather-app-temperature {
  font-size: 75px;
  margin-top: 10px;
  margin-left: 10px;
}
